<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="icon" th:href="@{/images/favicon.ico}" type="image/x-icon">
    <meta charset="UTF-8">
    <!--移动端的预览设置，用于适配移动端-->
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/Semantic-UI-CSS-master/semantic.min.css}" href="../../static/Semantic-UI-CSS-master/semantic.min.css">
    <link rel="stylesheet" th:href="@{/css/myblog.css}" href="../../static/css/myblog.css">
    <title>后台管理</title>


</head>
<body>
<!--导航-->
<nav class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
</nav>


<!--中间内容-->
<br>
<br>
<br>
<br>
<div class="m-container-small m-padded-tb-big">
    <div class="ui container">
        <div class="ui segment middle aligned">
            <h1>未经授权，您无法访问此页面</h1>

        </div>
    </div>
</div>
<div class="ui container m-container-small m-padded-tb-big m-opacity-mini">
    <div th:text="'&lt;!--'" th:remove="tag" ></div>
    <div th:text="'Failed Request URL : '+${url}" th:remove="tag"></div>
    <div th:text="'Exception message :'+${exception.message}" th:remove="tag"></div>
    <ul  th:remove="tag">
        <li th:each="st : ${exception.stackTrace}" th:remove="tag"></li>
        <span th:utext="${st}" th:remove="tag"></span>
    </ul>
    <div th:text="'--&gt;'" th:remove="tag" ></div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>



<script th:src="@{/js/jquery-3.5.1.min.js}" src="../../static/js/jquery-3.5.1.min.js"></script>
<script th:src="@{/Semantic-UI-CSS-master/semantic.min.js}" src="../../static/Semantic-UI-CSS-master/semantic.min.js"></script>
<script type="text/javascript">
    // $('.menu.toggle').click(function (){
    //     $('.m-item').toggleClass('m-mobile-hide');
    // });
    //不知道为什么达不到预期的效果
    $("#b1").click(function (){
        $(".m-item").toggleClass("m-mobile-hide");
    });
    $('#payButton').popup({
        popup:$('.popup.payQR'),
        on:'click',
        position:'bottom center'
    });
    $('.ui.dropdown').dropdown({
        on: 'hover'
    })
</script>
</body>
</html>