<!DOCTYPE html>
<html lang="zh-Hans-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="icon" th:href="@{/images/favicon.ico}" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width" />
    <title>大吉的个人博客系统</title>
    <link th:href="@{/layui/css/layui.css}" href="../static/layui/css/layui.css" rel="stylesheet" type="text/css">
    <link th:href="@{/font-awesome/css/font-awesome.min.css}" href="../static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link th:href="@{/css/index_style.css}" href="../static/css/index_style.css" rel="stylesheet" type="text/css"><!--决定了样式-->
    <link th:href="@{/css/animate.min.css}" href="../static/css/animate.min.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div id="menu" class="hover_animation menu_open" data-mark="false">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div id="navgation" class="navgation navgation_close">
        <ul class="point">
            <li><a href="index.html" th:href="@{/index}">首页</a></li>
            <li><a href="article.html" th:href="@{/article}">博客</a></li>
            <li><a href="message.html" th:href="@{/message}">留言</a></li>
            <li><a href="link.html" th:href="@{/link}">友链</a></li>
            <li><a href="diary.html" th:href="@{/diary}">开发日志</a></li>
            <li><a href="about.html" th:href="@{/about}">关于我</a></li>
        </ul>
        <div class="logo"><a>Daji's Blog</a></div>
    </div>
    <div class="section" id="section1">
        <div class="fp-tablecell">
            <div class="page1">
                <div class="nav wow zoomIn" data-wow-duration="2s">
                    <h1>大吉的个人博客系统</h1>
                    <p>尽挹西江，细斟北斗<br>闻天当效苏辛问</p>
                    <a class="layui-btn layui-btn-normal" style="margin-top: 20px" href="article.html" th:href="@{/article}">Enter Blog</a>
                </div>
                <a class="next wow fadeInUp" data-wow-duration="2s" id="next"></a>
            </div>
        </div>
    </div>
    <div class="section" id="section2">
        <div class="fp-tablecell">
            <div class="page2">
                <div class="warp-box">
                    <div class="new-article">
                        <div class="inner wow fadeInDown" data-wow-delay=".2s">
                            <h1>热门文章</h1>
                            <p>
                                很想给你写封信,告诉你这里的天气.
                                <br>昨夜的那场电影,还有我的心情.
                            </p>
                        </div>
                    </div>
                    <div class="layui-row">
                        <div class="layui-col-xs12 layui-col-sm4 layui-col-md4  wow fadeInUp" style="padding: 0 10px" th:each="recommendBlog : ${thirdRecommend}">
                            <div class="single-news">
                                <div class="news-head">
                                    <img th:src="${recommendBlog.firstPicture}">
                                    <a href="#" th:href="@{/article/read/{id}(id=${recommendBlog.id})}" class="link"><i class="fa fa-link"></i></a>
                                </div>
                                <div class="news-content">
                                    <h4>
                                        <a href="#" th:href="@{/article/read/{id}(id=${recommendBlog.id})}" th:text="${recommendBlog.title}">
                                            标题
                                        </a>
                                    </h4>
                                    <div class="date">
                                        <span class="year fs-18 ml10" th:text="${#dates.format(recommendBlog.updateTime,'yyyy-MM-dd HH:mm')}">2019-1-20</span>
                                    </div>
                                    <p th:text="${recommendBlog.description}">
                                        很想给你写封信,告诉你这里的天气. 昨夜的那场电影,还有我的心情.
                                    </p>
                                    <a th:href="@{/article/read/{id}(id=${recommendBlog.id})}" href="#" class="btn">
                                        阅读更多 
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!--<div class="layui-col-xs12 layui-col-sm4 layui-col-md4  wow fadeInUp" data-wow-delay=".2s" style="padding: 0 10px">
                            <div class="single-news">
                                <div class="news-head">
                                    <img src="../../static/images/1.jpg">
                                    <a href="#" class="link"><i class="fa fa-link"></i></a>
                                </div>
                                <div class="news-content">
                                    <h4>
                                        <a href="#">
                                            标题
                                        </a>
                                    </h4>
                                    <div class="date">
                                        2017年2月16日
                                    </div>
                                    <p>
                                        很想给你写封信,告诉你这里的天气. 昨夜的那场电影,还有我的心情.
                                    </p>
                                    <a href="#" class="btn">
                                        阅读更多 
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="layui-col-xs12 layui-col-sm4 layui-col-md4  wow fadeInUp" data-wow-delay=".4s" style="padding: 0 10px">
                            <div class="single-news">
                                <div class="news-head">
                                    <img src="../../static/images/1.jpg">
                                    <a href="#" class="link"><i class="fa fa-link"></i></a>
                                </div>
                                <div class="news-content">
                                    <h4>
                                        <a href="#">
                                            标题
                                        </a>
                                    </h4>
                                    <div class="date">
                                        2017年2月16日
                                    </div>
                                    <p>
                                        很想给你写封信,告诉你这里的天气. 昨夜的那场电影,还有我的心情.
                                    </p>
                                    <a href="#" class="btn">
                                        阅读更多 
                                    </a>
                                </div>
                            </div>
                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section" id="section3">
        <div class="fp-tablecell">
            <div class="page3">
                <div class="warp-box">
                    <div class="warp">
                        <div class="inner">
                            <div class="links">
                                <ul>
                                    <li class="wow fadeInLeft"><a href="#" th:href="@{/about}">关于</a></li>
                                    <li class="wow fadeInRight"><a href="#" th:href="@{/link}">+友情链接</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section" id="section4">
        <div class="fp-tablecell">
            <div class="page4">
                <div class="warp-box">
                    <div class="about">
                        <div class="inner">
                            <h1 class="wow fadeInLeft">关于我</h1>
                            <p class="wow fadeInRight">
                                非科班出身，自学Java，酷爱编程。闲来无事喜欢在一些不健康的场所虚度光阴，撸起代码就会废寝忘食。
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer wow fadeInUp" id="contact">
        <div class="footer-top">
            <div class="container">
                <div class="layui-row">
                    <div class="layui-col-xs12 layui-col-sm6 layui-col-md4">
                        <div class="single-widget about">
                            <div class="footer-logo">
                                <h2>大吉</h2>
                            </div>
                            <div class="button">
                                <a href="#" th:href="@{/about}" class="btn layui-btn layui-btn-normal">About Me</a>
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-xs12 layui-col-sm6 layui-col-md4">
                        <div class="single-widget">
                            <h2>相关链接</h2>
                            <ul class="social-icon">
                                <li class="active"><a href="#" th:href="@{/article}"><i class="fa fa-book"></i>博文</a></li>
                                <li class="active"><a href="#" th:href="@{/message}"><i class="fa fa-comments"></i>留言</a></li>
                                <li class="active"><a href="#" th:href="@{/diary}"><i class="fa fa-snowflake-o"></i>开发日志</a></li>
                            </ul>                   
                        </div>
                    </div>
                    <div class="layui-col-xs12 layui-col-sm12 layui-col-md4">
                        <div class="single-widget contact">
                            <h2>联系我</h2>
                            <ul class="list">
                                <li><i class="fa fa-map"></i>地址: 山东农业大学南校区西北片区</li>
                                <li><i class="fa fa-qq"></i>QQ: 396000449 </li>
                                <li><i class="fa fa-envelope"></i>邮箱: 1134107721@qq.com</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <div class="layui-row">
                    <div class="layui-col-xs12 layui-col-sm12 layui-col-md12 text-center">
                        <p>Copyright &copy; 2020-2021 大吉 All Rights Reserved <a href="http://beian.miit.gov.cn" target="_blank" style="color: inherit;">鲁ICP备2020049465号</a></p>
                    </div>
                </div>
            </div>
        </div>  
    </footer>
    <script th:src="@{/layui/layui.js}" src="../static/layui/layui.js"></script>
    <script th:src="@{/js/wow.min.js}" src="../static/js/wow.min.js"></script>
    <script th:src="@{/js/index.js}" src="../static/js/index.js"></script>
</body>
</html>